html {
    scroll-behavior: smooth;
  }
body{
    height:100vh;
    background: url('background.jpg');
    background-size:contain;
    cursor:none;
    color: lightgray;
}
.glow{
    text-shadow:0 0 10px #0066ff!important;
}
.colored{
    color: #17a2b8!important;
}
hr{
    background:#169ab2;
}
.progress{
    background-color:lightgray!important;
}
.progress-bar{
    background-color:#17a2b8;
}
.skillset{
    border-bottom:1px solid #17a2b8;
}
.star{
    color:gold;
}
.swiper-container {
    width: 100%;
    height: auto;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }


/*Scrollbarr global setting*/
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1c1e1f;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #249df0;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0099ff;
  }

.height-100{
    height:100%;
}
a{
    color:inherit;
}
.icons{
    color:#e2e2e2;
    transition:.5s;
    border-radius:50%;
}
.social-icons{
    border-radius:50%;
}
.left-menu-link{
    border-radius:50%;
}
.icons:hover{
    color:#17f4fb;
    text-shadow: 0 0 10px #0066ff;
}


.site-content{
    height:95%;
    padding-top:5%;
    
}
.site-content-inner{
    height:100%;
}
.left-menu{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    background:#000000c7;
    border-right: 1px solid #249df0;
}
.right-side-inner{
    overflow-y:scroll;
    background:#000000;
    overflow-x:hidden;
}
.image-card{
    background-size: cover!important;
    background-position: center!important;
    margin-top:-20px;
    margin-bottom:-20px;
}